/* src/components/HomePage.css */
.home-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

.home-navbar {
  display: flex;
}
  
.content {
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-sizing: border-box;
    gap: 20px;
    min-height: 100%;
  }

.content-header {
  display: flex;
  margin-bottom: 30px;
  flex-direction: row;
  justify-content: space-between;
}
  
.content-header span {
  font-size: 32px;
  font-style: normal;
}

.content-section {
  display: flex;
  gap: 2rem;
  margin-bottom: 30px;
}
