.navbar {
    width: 300px;
    height: 100vh;
    background-color: #2c2d50a2;
    color: white;
    padding: 20px;
    box-sizing: border-box;
  }

.navbar-header {
  width: 100%;
  margin-bottom: 100px;
}

.navbar-header h2 {
  color: #333;
  font-size: 28px;
  font-style: italic;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar-item {
  width: 100%;
  padding: 20px 0;
  border: none;
  border-radius: 6px;
  align-items: center;
  transition: all 0.7s ease;
  filter: brightness(80%);
}

.navbar-item a {
  text-decoration: none;
}

.navbar-item span {
  font-style: italic;
  font-size: 24px;
}

.navbar-item:hover {
  background-color: rgba(240, 248, 255, 0.631);
}
